#editor-wrapper {
  width: 50%;
  overflow: scroll;
}

#editor-wrapper::-webkit-scrollbar {
  display: none;
}

#editor-wrapper.hidden {
  display: none;
}

.markdown-body h1 {
  border-bottom: 0px !important;
  font-size: 2.2em !important;
}

#markmap {
  height: 100%;
  flex: 1;
  background-color: white;
}

