@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+Mono&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
}

#app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 30px);
}

#header {
  width: 100%;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #272823;
  font-family: Helvetica, arial, sans-serif;
}

/*
#footer {
  width: 100%;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #272823;
  font-family: Helvetica, arial, sans-serif;
}
*/

#header span,
#header a {
  display: inline-block;
  color: white;
  height: 20px;
  margin: 5px 10px;
}

#editor-wrapper {
  width: 50%;
  overflow: scroll;
}

#editor-wrapper::-webkit-scrollbar {
  display: none;
}

#editor-wrapper.hidden {
  display: none;
}

#marked {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  flex: 1;
  padding: 5px;
  overflow: scroll;
  background-color: white;
}

.markdown-body h1 {
  border-bottom: 0px !important;
  font-size: 2.2em !important;
}

#markmap {
  height: 100%;
  flex: 1;
  background-color: white;
}

.CodeMirror {
  height: 100%;
  font-family: "Noto Sans Mono", "Noto Sans JP", monospace, sans-serif;
  font-size: 14px;
  /* background-color: rgb(39, 40, 35); */
}
